__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.venv/
venv/
ENV/
env/

results/
Task_2/
*.safetensors
*.bin
*.pth
*.pt
runs/
wandb/

weights/
.env
.env.local

.ipynb_checkpoints/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/

.DS_Store